.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2d3748;
    color: white;
  }
  
  .navbar a {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  
  .navbar .cart-icon-container {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #edf2f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .navbar .cart-icon {
    width: 1.5rem;
  }
  
  .navbar .cart-count {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #f56565;
    color: white;
    font-size: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  