
*{
    margin: 0;
    padding: 0;
}
.containerNav{
    
    position: sticky; 
    top: 0;
     z-index: 1000;
    background-color: white; 
    display: flex;
    justify-content:space-evenly;
    height: 70px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
a{
    text-decoration: none;
    font-weight: 900;
    color: black;

}
img{
    height: 40px;
    border-radius: 100%;
}